body {
background-size: cover;
}
#start ,#number_of_objects ,#status{
font-size: 18px;
}
.copy_right_footer {
position: fixed;
color: violet;
bottom: 0;
width: 100%;
background-color: aquamarine;
line-height: 3;
text-align: center;
}
canvas {
box-shadow: 5px 5px 5px white;
border-radius: 10px;
margin-top: 130px;
border:2px solid white;
}